/*

Sites used for help
https://www.wix.com/blog/2017/10/5-design-tips-for-a-professional-site/

*/

/* Variables */
:root {
	/* http://colorhunt.co/c/2763 */
	--background-color-light: #EEEEEE;
	--background-color-dark: #393E46;
	--background-color-darker: #222831;
	--main-color: #00ADB5;
	--complete-color: #00b509;
	--in-color: #FFFF00;

	--box-margin: 10px;
	--box-height: 150px;
	--box-width: 200px;

	--nav-height: 25px;
}

/* Test */
p.test::after {
	content: " - CSS is working"
}

/* General */
body {
	font-family: helvetica;
	background-color: var(--background-color-light);
	color: black;
	margin: 0px;
}
header {
	color: var(--background-color-darker);
	padding-left: 10px;
	padding-right: 10px;
}
nav {
	height: var(--nav-height);
}
article {
	margin-left: 8px;
	margin-right: 8px;
	border: 2px solid var(--main-color);
	background-color: white;
}
article p {
	margin-left: 8px;
	margin-right: 8px;
}
h1,
h2,
h3,
h4,
h5,
h6 {

}
h1 {
	margin-top: 35px;
}
h1.index-title {
}

/* Navigation Bar */
/* https://www.w3schools.com/css/css_navbar.asp */
ul.navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: var(--background-color-dark);
	width: 100%;
}
ul.navbar li {
	float: left;
	border-left: 1px solid var(--background-color-light);
	height: 48px;
	width: 75px;
}
ul.navbar li:first-child{
	border: none;
}
ul.navbar li a {
	display: block;
	color: white;
	text-align: center;
	line-height: 48px;
	font-size: 20px;
	text-decoration: none;
}
ul.navbar li a:hover:not(.active) {
	background-color: var(--background-color-darker);
}
ul.navbar li a.active {
	background-color: var(--main-color);
}
ul.navbar li a.inactive {
	
}

/* Lessons */
div.lesson-box {
	width: var(--box-width);
	height: var(--box-height);
	margin-left: var(--box-margin);
	margin-right: var(--box-margin);
	margin-top: var(--box-margin);
	margin-bottom: var(--box-margin);
	float: left; /* Makes boxes inline */
	background-color: white;
	text-decoration: none;
	border-radius: 5px; /* Rounds corners */
	color: black;
}
div.lesson-box.available {
	border-bottom: 50px solid var(--main-color);
}
div.lesson-box.unavailable {
	border-bottom: 50px solid #ccc;
	background-color: #ccc;
	color: #555;
}
div.lesson-box.complete {
	border-bottom: 50px solid var(--complete-color);
}

div.lesson-box div.box-num {
	font-size: 80%;
	text-align: right;
	margin-right: 5px;
}
div.lesson-box div.box-title {
	font-size: 120%;
	margin-left: 10px;
	margin-right: 20px;
}

ul.nav-bar2 {
	display: block;
	overflow: hidden;
	list-style-type: none;
	margin-top: 50px;
	width: 210px;
	float: left;
}
ul.nav-bar2 li {
	
}
ul.nav-bar2 li a {
	text-decoration: none;
}
ul.nav-bar2 li a:hover {
	background-color: var(--background-color-darker);
}
div.lesson-rect {
	width: 200px; /* Makes boxes inline */
	height: 60px;
	background-color: white;
	border-radius: 5px; /* Rounds corners */
	color: black;
	text-decoration: none;
}
div.lesson-rect.available {
	border-right: 10px solid var(--main-color);
}
div.lesson-rect.unavailable {
	border-right: 10px solid #ccc;
	background-color: #ccc;
	color: #555;
}
div.lesson-rect.complete {
	border-right: 10px solid var(--complete-color);
}
div.lesson-rect.in {
	border-right: 10px solid var(--in-color);
}
div.lesson-rect div.rect-num {
	font-size: 80%;
	text-align: left;
	margin-left: 5px;
}
div.lesson-rect div.rect-title {
	font-size: 120%;
	margin-left: 10px;
	margin-right: 20px;
}
p.nextlesson {
	list-style-type: none;
	margin: none;
	margin-left: 8px;
	padding: 0;
	overflow: hidden;
	background-color: var(--background-color-dark);
	float: left;
	border-left: 1px solid var(--background-color-light);
	height: 48px;
	width: 150px;
	background-color: var(--main-color);
}
p.nextlesson a {
	display: block;
	color: white;
	text-align: center;
	line-height: 48px;
	font-size: 20px;
	text-decoration: none;
}
