/*

Sites used for help
https://www.wix.com/blog/2017/10/5-design-tips-for-a-professional-site/

*/

/* Variables */
:root {
	/* http://colorhunt.co/c/2763 */
	--background-color-light: #EEEEEE;
	--background-color-dark: #393E46;
	--background-color-darker: #222831;
	--main-color: #00ADB5;

	--header-width: 55px;
}

/* General */
body {
	font-family: "Segoe UI";
	background-color: var(--background-color-light);
}
header {
	height: var(--header-width);
}
h1,
h2,
h3,
h4,
h5,
h6 {
	
}
h1 {
	
}

/* Navigation Bar */
/* https://www.w3schools.com/css/css_navbar.asp */
ul.navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: var(--background-color-dark);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: var(--header-width);
}
ul.navbar li {
	float: left;
}
ul.navbar li a {
	display: block;
	color: white;
	text-align: center;
	font-size: 20px;
	padding: 14px 16px;
	text-decoration: none;
}
ul.navbar li a:hover:not(.active) {
	background-color: var(--background-color-darker);
}
ul.navbar li a.active {
	background-color: var(--main-color);
}
