/*

Sites used for help
https://www.wix.com/blog/2017/10/5-design-tips-for-a-professional-site/

*/

/* Variables */
:root {
	/* http://colorhunt.co/c/2763 */
	--background-color-light: #EEEEEE;
	--background-color-dark: #393E46;
	--background-color-darker: #222831;
	--main-color: #00ADB5;
	--complete-color: #00b509;

	--header-width: 100px;

	--box-margin: 10px;
	--box-height: 150px;
	--box-width: 200px;

	--header-width: 51px;
}

/* General */
body {
	font-family: helvetica;
	background-color: var(--background-color-light);
}
header {
	height: var(--header-width);
}
h1,
h2,
h3,
h4,
h5,
h6 {
	
}
h1 {
	
}

/* Navigation Bar */
/* https://www.w3schools.com/css/css_navbar.asp */
ul.navbar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: var(--background-color-dark);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: var(--header-width);
}
ul.navbar li {
	float: left;
}
ul.navbar li a {
	display: block;
	color: white;
	text-align: center;
	font-size: 20px;
	padding: 14px 16px;
	text-decoration: none;
}
ul.navbar li a:hover:not(.active) {
	background-color: var(--background-color-darker);
}
ul.navbar li a.active {
	background-color: var(--main-color);
}

/* Lessons */
div.lesson-box {
	width: var(--box-width);
	height: var(--box-height);
	margin-left: var(--box-margin);
	margin-right: var(--box-margin);
	margin-top: var(--box-margin);
	margin-bottom: var(--box-margin);
	float: left; /* Makes boxes inline */
	background-color: white;
	border-radius: 5px; /* Rounds corners */
}
div.lesson-box.available {
	border-bottom: 50px solid var(--main-color);
}
div.lesson-box.unavailable {
	border-bottom: 50px solid #ccc;
	background-color: #ccc;
	color: #555;
}
div.lesson-box.complete {
	border-bottom: 50px solid var(--complete-color);
}

div.lesson-box div.box-num {
	font-size: 80%;
	text-align: right;
	margin-right: 5px;
}
div.lesson-box div.box-title {
	font-size: 120%;
	margin-left: 10px;
	margin-right: 20px;
}